[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "themes/no-style-please"]
	path = themes/no-style-please
	url = git@github.com:hanwenguo/hugo-theme-nostyleplease.git
